/*--------------------  COMMON STYLES  ---------------------------------*/

@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
svg {
  display: block;
  width: 100%;
  height: 100%;
}

svg use {
  fill: white;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  color: #fff;
  text-align: center;
  background-image: url("../assets/img/bg.webp");
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover, a:visited {
  color: inherit;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

/*--------------------  HEADER  ---------------------------------*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 4%;
}

/*--------------------  AUDIO PLAYER  ---------------------------------*/

.player {
  opacity: 1;
  transition: opacity .5s;
  width: 350px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin-bottom: 3rem;
}

.player-controls__play-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.play-list {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 9rem;
  width: 100%;
}

.song {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}

.song:hover {
  opacity: .8;
  cursor: pointer;
}

.player-controls__mute {
  position: relative;
  width: 25px;
  height: 25px;
}

.player-controls__mute::after {
  display: block;
  height: .1rem;
  width: 4.5rem;
  background-color: #fff;
  content: '';
  position: absolute;
  top: 13px;
  left: 34px;
}


.item-active::before {
  color: #C5B358;
}
/*--------------------  ICONS  ---------------------------------*/

.player-icon,
.slider-icon,
.quote__change-btn {
  width: 3rem;
  height: 3rem;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.quote__change-btn:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.quote__change-btn:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

/*--------------------  WEATHER  ---------------------------------*/

.weather {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
  opacity: 1;
  transition: opacity .5s;
}

.weather-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

/*--------------------  MAIN  ---------------------------------*/

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 40vh;
  width: 100%;
  min-height: 260px;  
  padding: 20px;
}

/*--------------------  SLIDER ICONS  ---------------------------------*/

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
}

.slide-prev svg, .slide-next svg {
  display: block;
  width: 50px;
}

.slide-next {
  right: 20px;
}

/*--------------------  TIME  ---------------------------------*/

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT', Serif;
  font-size: 100px;
  letter-spacing: -4px;
  opacity: 1;
  transition: opacity .5s;
}

/*--------------------  DATE  ---------------------------------*/

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  opacity: 1;
  transition: opacity .5s;
}

/*--------------------  GREETINGS  ---------------------------------*/

.greeting-container {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
  opacity: 1;
  transition: opacity .5s;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

/*--------------------  TO DO  ---------------------------------*/

.motivation-block {
  display: flex;
  justify-content: space-around;
  width: 80vw;
}

.to-do {
  display: flex;
  flex-direction: column;
  width: 40%;
  opacity: 1;
  transition: opacity .5s;
}

.to-do__input {
  margin-bottom: 5px;
  border: none;
  background-color: transparent;
  height: 40px;
  width: 240px;
  color: antiquewhite;
  font-size: 18px;
}

.to-do__btn {
  width: 150px;
  padding: 5px;
  margin-bottom: 30px;
  background-color: #525252;
  color: antiquewhite;
  border: 1px solid #737373;
}


.to-do__input::placeholder {
  font-family: inherit;
  font-size: 16px;
}

.to-do__task-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 100%;
  text-align: left;
}
.task__item {
  display: flex;
  gap: 10px;
  max-width: 150px;
}

input[type="checkbox"] {
  background-color: transparent;
  opacity: 0.3;
  cursor: pointer;
}
label {
  cursor: pointer;
}
input[type="checkbox"]:checked {
  background: yellow;
}

/*--------------------  FOOTER  ---------------------------------*/

.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  min-height: 160px;
  padding: 20px;
}

.footer__about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  gap: 15px;
}

.about__rs {
  display: block;
  width: 93px;
  height: 50px;
  background-image: url("../assets/svg/rs_school_logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*--------------------  FOOTER SETTINGS  ---------------------------------*/

.footer__settings {
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 15;
}

.footer__settings svg use {
  fill: white;
}

.footer__settings svg {
  width: 100%;
  height: 100%;
}
.footer__settings svg use {
  width: 100%;
  height: 100%;
}

.settings-block {
  position: absolute;
  bottom: 20px;
  left: 80px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  /*width: 270px;*/
  /*height: 370px;*/
  background-color: rgba(171, 171, 171, .7);
  color: #d9d9d9;
  justify-content: space-between;
  text-align: left;
  z-index: 15;
  opacity: 0;
  transition: all .5s;
}

.settings-block button {
  padding: 5px;
}

.settings-block__item, .hide-block__item {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.hide-block {
  display: flex;
  flex-direction: column;
}

.switcher {
  cursor: pointer;
}

.show-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(82, 82, 82, 0.7);
  z-index: 10;
}
/*--------------------  QUOTES  ---------------------------------*/

.quote {
  padding: 30px 0 0;
  width: 35%;
  text-align: right;
}

.quote__block {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 15px;
  opacity: 1;
  transition: opacity .5s;
}

.quote__quote {
  position: relative;
  padding: 20px 10px;
  margin-bottom: 12px;
  background: rgba(227, 222, 216, .3);
  border: 4px solid rgba(227, 222, 216, .3);
  max-width: 100%;
  font-style: italic;
  color: darkgray;
  font-size: 20px;
  border-radius: 6px;
}

.quote__quote:after, .quote__quote:before {
  top: 107%;
  left: 85%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.quote__quote:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: rgba(227, 222, 216, .3);
  opacity: .3;
  border-width: 15px;
  margin-left: 13px;
}
.quote__quote:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: rgba(227, 222, 216, .3);
  background-color: transparent;
  border-width: 21px;
  margin-left: 6px;
}

.quote__author {
  padding: 0 15px 0 0;
}

.quote__change-btn {
  margin-top: -44px;
  width: 25px;
  height: 25px;
}

/*--------------------  FOR EVENT LISTENER  -------------------------------------*/
.show-settings {
  opacity: 1;
}

.display-none {
  /*display: none;*/
  opacity: 0;
  transition: opacity .5s;
}


.playing-song {
  color: #5c0ea3;
  text-decoration: indigo;
  font-style: italic;
}
.checked {
  text-decoration: line-through;
  color: #525252;
}
/*---------- MEDIA ------------------*/
@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}

@media (max-width: 768px) {
  .header {
    flex-wrap: wrap;
    gap: 50px 30px;
    justify-content: center;
  }

  .player {

  }

  body {
    display: flex;
    flex-direction: column;
  }
}