@font-face {
  font-weight: 400;
  font-family: "Mooli";
  src: url("../fonts/Mooli-Regular.woff") format('woff'),
  url("../fonts/Mooli-Regular.ttf") format('truetype');
}

@font-face {
  font-weight: 100;
  font-family: "OpenSans Condensed";
  src: url("../fonts/OpenSans_Condensed-Light.woff") format('woff'),
  url("../fonts/OpenSans_Condensed-Light.ttf") format('truetype');
}

@font-face {
  font-weight: 400;
  font-family: "OpenSans Condensed";
  src: url("../fonts/OpenSans_Condensed-Regular.woff") format('woff'),
  url("../fonts/OpenSans_Condensed-Regular.ttf") format('truetype');
}

@font-face {
  font-weight: 500;
  font-family: "OpenSans Condensed";
  src: url("../fonts/OpenSans_Condensed-Medium.woff") format('woff'),
  url("../fonts/OpenSans_Condensed-Medium.ttf") format('truetype');
}

@font-face {
  font-weight: 600;
  font-family: "OpenSans Condensed";
  src: url("../fonts/OpenSans_Condensed-SemiBold.woff") format('woff'),
  url("../fonts/OpenSans_Condensed-SemiBold.ttf") format('truetype');
}